h1 {
    color:black;
}

header image{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.container {
    text-align: center;
    margin: 0 auto;
}

.center-image {
    width: 50%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
}

h1 {
    font-size: 5em;
    margin-bottom: 20px;
    text-align: center;
    font-weight: normal;
}

.subtitle {
    font-size: 1.5em;
    text-align: center;
    margin-top: 10px;
}

header body {
    font-family:'Times New Roman', Times, sans-serif;
    font-size: 17px;
    line-height: 1.25;
    background-color: #D2B48C;
    text-align: center;
}


h2 {
    margin-left: auto;
    text-align: left;
    font-size: larger;
   
}
body {
    font-family:'Times New Roman', Times, sans-serif;
    font-size: 17px;
    line-height: 1.25;
    background-color: #D2B48C;
    text-align: left;
}

h1 {
    margin-left: auto;
    text-align: left;
    font-size: larger;
}



.education-details  {
    font-size: 1rem;
    text-align: left;
    margin-left: 20px;
}



.peducation-details {
    font-size: 1rem;
    text-align: left;
    margin-left: 20px;
}