h1 {
    color:black;
}

header image{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.container {
    text-align: center;
    margin: 0 auto;
}

.center-image {
    width: 50%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.subtitle {
    font-size: 1.5em;
    text-align: center;
    margin-top: 10px;
}